/*  Adobe Fonts */
@import url("https://use.typekit.net/nra7zxj.css");

/*  Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Login & Registration Page */

#register-form,
#login {
  border: 2px solid #000;
  border-top-color: rgb(0, 0, 0);
  border-top-color: #0d0d0d;
  border-radius: 32px;
  padding: 8px;
}

.input-shadow {
  color: #0d0d0d;
  border: 1px solid #000;
  border-radius: 12px;
}

.form-button {
  color: #0d0d0d;
  border: 2px solid #000;
  border-radius: 12px;
  box-shadow: 4px 4px #0d0d0d;
}

.form-button:hover,
.form-button:focus {
  border: 2px solid #000;
  box-shadow: none;
  color: #ffffff;
  background: #0d0d0d;
}

/*  Search Bar  */

input[type="radio"]:checked + label {
  @apply bg-sky-300;
}

input[type="radio"]:hover + label {
  @apply bg-sky-300;
}

#searchbar {
  border: 2px solid #000;
  border-top-color: rgb(0, 0, 0);
  border-top-color: #0d0d0d;
  border-radius: 32px;
  padding: 8px;
}

#listing-button label {
  color: #0d0d0d;
  border: 2px solid #000;
  border-radius: 12px;
  box-shadow: 3px 3px #0d0d0d;
}

#listing-button label:hover,
#listing-button label:focus {
  border: 2px solid #000;
  box-shadow: none;
  color: #0d0d0d;
  background: #7dd3fc;
}

#send-button {
  color: #0d0d0d;
  border: 2px solid #000;
  border-radius: 12px;
  box-shadow: 4px 4px #0d0d0d;
}

#send-button:hover,
#send-button:focus {
  border: 2px solid #000;
  box-shadow: none;
  color: #ffffff;
  background: #0d0d0d;
}
